form    {
background-image: url('WoodWallpaper_1920.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: auto;
margin:auto;
position:relative;
width:450px;
height:auto;
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
line-height: 24px;
font-weight: bold;
color: #ffffff;
text-decoration: none;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:20px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input    {
width:300px;
display:block;
border: 1px solid #999;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#address {
width:295px;
height:80px;
}

input[type="submit"],
input[type="reset"]{
	-moz-box-shadow:inset 0px 1px 0px -1px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px -1px #cae3fc;
	box-shadow:inset 0px 1px 0px -1px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #512302), color-stop(1, #321602) );
	background:-moz-linear-gradient( center top, #512302 5%, #321602 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#512302', endColorstr='#321602');
	background-color:#471f02;
	-webkit-border-top-left-radius:15px;
	-moz-border-radius-topleft:15px;
	border-top-left-radius:15px;
	-webkit-border-top-right-radius:15px;
	-moz-border-radius-topright:15px;
	border-top-right-radius:15px;
	-webkit-border-bottom-right-radius:15px;
	-moz-border-radius-bottomright:15px;
	border-bottom-right-radius:15px;
	-webkit-border-bottom-left-radius:15px;
	-moz-border-radius-bottomleft:15px;
	border-bottom-left-radius:15px;
	text-indent:0px;
	border:1px solid #321602;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:20px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #287ace;
	margin:5px;
}
input[type="submit"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;}
input[type="reset"]:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
input[type="submit"]:active {
	position:relative;
	top:1px;
}
input[type="reset"]:active {
	position:relative;
	top:1px;
}

.form1{
margin-left:70px;
font-style: italic;
}

.formTombol{
padding-top: 5px;
}