.body {
	border: solid 1px black;
	height: auto;
}
.header {
	background-color: black;
	height: 90px;
	margin-top: 5px;
}
.user-image {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	float: right;
	margin-right: -300px;
}
.text_admin{
	font-family: arial;
	color: #ce8f32;
	text-decoration: none;
	margin-right: -400px;
	float: right;
	margin-top: 10px;
}
#lgout {
	float: right;
	margin-right: -470px;
	margin-top: 10px;
	color: #ce8f32;
}
.logo {
	width: 100px;
	height: 80px;
	margin: 5px 0 0 20px;
	float: left;
}
.notifikasi {
	margin-left: 200px;
}
.msgg {
	margin-top: 40px;
	float: left;
	margin-left: 20px;
}
.msg {
	width: 30px;
	height: 30px;
	margin-left: 40px;
}
.msg1 {
	width: 30px;
	height: 30px;
}
#jumlah {
	margin-left: 60px;
	margin-top: -45px;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	color: brown;
}
#jumlah1 {
	margin-left: 20px;
	margin-top: -45px;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	color: brown;
}
.navigasi {
	float: left;
	font-family: arial;
	font-size: 15px;
	border-right: solid 1px black;
	margin-top: 5px;
	padding-right:10px;
}
.nav1 {
	background-color: black;
	height: 50px;
	width: 150px;
	text-align: center;
	padding-top: 15px;
}
.nav1:hover {
	background-color: grey;
}
.nav2 {
	background-color: white;
	height: 50px;
	width: 150px;
	text-align: center;
	padding-top: 15px;
	color: brown;
}
.nav2:hover {
	background-color: grey;
}
.bar1 {
	text-decoration: none;
	color: #ce8f32;
}
.bar2 {
	text-decoration: none;
	color: brown;
}
.flip {
    padding: 5px;
    text-align: center;
    float: right;
    margin-top: -20px;
}
#panel {
	background-color: white;
	border : solid 1px black;
    padding: 20px;
    display: none;
    width: 250px;
    height: 250px;
    color: brown;
    float: right;
    margin-top: 40px;
    margin-right: -500px;
}
.user-image2 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 1px black;
}
#name-admin {
	font-size: 15px;
	text-align: center;
}
#owner {
	font-size: 12px;
	text-align: center;
}
#link-profile {
	background-color: black;
	text-decoration: none;
	border: solid 1px black;
	color: #ce8f32;
	padding: 10px 10px 10px 10px;
}
#link-sign-out {
	background-color: black;
	text-decoration: none;
	border: solid 1px black;
	color: #ce8f32;
	margin-left: 65px;
	padding: 10px 10px 10px 10px;
}
.fsf {
	text-decoration: none;
	color: black;
	margin-right: 20px;
}
.fsf2 {
	text-decoration: none;
	color: black;
}
.content {
	border: solid 1px black;
	background-color: grey;
	margin-top: 5px;
}
.head-content {
	background-color: white;
	color: #ce8f32;
	border: solid 1px black;
	margin: 10px 10px 10px 10px;
}
.table {
	background-color: black;
	color: #ce8f32;

}
th {
	border :solid 1px white;
	width: 200px;
	height: 50px;
	text-align: center;
}
td {
	border :solid 1px white;
}
.midle-content {
	background-color: white;
	color: brown;
	border: solid 1px black;
}
.footer-content {
	background-color: black;
	color: #ce8f32;
}
.menu-stok {
	margin-top: 10px;
}
.upDel {
	text-decoration: none;
	color: white;
}
.kotakkeranjang {
	margin-left: 200px;
}
.kotakbarang {
	margin-left: 200px;
	color : white;
}