.body {
    background-image: url('assets/img/bg-wood.png');
}
.c1 {
    margin-bottom: 5px;
}
.c2 {
    margin-bottom: 5px;
}
.header {
    background-color: black;
    height: 100px;
    margin: 10px 0 0 10px;
}
#logo {
    width: 100px;
    height: 80px;
    margin: 10px 10px 10px 10px;
}
#cart {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-right: 20px;

}
#jumlah {
    border: solid 1px white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 13px;
    font-family: arial;
    background-color: white;
    padding: 2px 2px 2px 2px;
    text-align: center;
    margin-top: -45px;
    margin-left: 20px;
    color: brown;
}
.search {
    margin-left: 10px;
    color: brown;
    border-radius: 5px;
    margin-top: 55px;
    border: solid 1px black;
    background-color: #ce8f32;
}
#user {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 70px;
}
#nama-user {
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
    color: #ce8f32;
}
#panel {
    background-color: white;
    border : solid 1px black;
    padding: 20px;
    display: none;
    width: 250px;
    height: 200px;
}
.nav {
    margin-left: 20px;
    margin-top: 55px;
    float: right;
    text-decoration: none;
    color: #ce8f32;
    font-family: catz;
    font-size: 17px;
}
.nav:hover {
    color: brown;
}
#sc-home {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    background-color: white;
}
.slide-home {
    border: solid 10px black;
    background-color: black;
}
.content {
    background-color: black;
}
.navigation-content {
    height: 40px;
    background-color: white;
    padding: 10px 10px 10px 10px;

}
.nav-con {
    text-decoration: none;
    font-size: 17px;
    font-family: catz;
    padding: 5px 5px 5px 5px;
    margin-left: 25px;
    color: brown;
}
.nav-con:hover {
    color: #ce8f32;
}
td {
    text-align: center;
    color: #ce8f32;
}
.out-gambar {
    width: 160px;
    height: 310px;
    background-color: black;
    margin-top: 5px;
}
.gambar {
    width: 200px;
    height: 200px;
    float: left;
    border: double white;
    margin: 10px 5px 10px 10px;
}
.right-gambar {
    background-color: black;
    float: right;
    width: 300px;
}
#title-best-sell {
    font-size: 18px;
    font-family: catz;
    margin: 10px 10px 10px 10px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid 3px #ce8f32;
    color: #ce8f32;
}
.best-sell {
    border: solid 1px black;
    width: 200px;
    height: 150px;
    margin: 10px 10px 10px 10px;
    background-color: black;
}
.table {
    width: 300px;
}
.add {
    text-decoration: none;
    color: brown;
    font-family: catz;
    background-color: white;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
}
.add:hover {
    color: #ce8f32;
    background-color: black;
}
.footer {
    height: 40px;
    background-color: black;
    margin-top: 5px;
    text-align: center;
    color: #ce8f32;
    padding-top: 10px;
}