body {
 font: 13px Arial;
     }
#products {
        text-align: center; float: left;
 }
#products ul {
        list-style-type: none; margin: 0px;
 }
#products li {
        width: 150px; padding: 4px; margin: 8px;
        border: 1px solid #ddd; background-color: #eee;
 -moz-border-radius: 4px; -webkit-border-radius: 4px;
        }
#products .name {
 font-size: 15px; margin: 5px;
    }
#products .price {
 margin: 5px;
 }
#products .option {
 margin: 5px;
 }
#cart {
 padding: 4px; margin: 8px; float: left;
 border: 1px solid #ddd; background-color: #eee;
 -moz-border-radius: 4px; -webkit-border-radius: 4px;
 }
#cart table {
 width: 320px; border-collapse: collapse;
 text-align: left;
}
#cart th {
 border-bottom: 1px solid #aaa;   
}
#cart caption {
 font-size: 15px; height: 30px; text-align: left;
}
#cart .total {
 height: 40px;
}
#cart .remove a {
 color: red;
}
